/**
 * 
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.11.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import io.swagger.client.model.RetrieveEntry;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TranslationApi {
    private ApiClient apiClient;

    public TranslationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TranslationApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet */
    private com.squareup.okhttp.Call entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGetCall(String sourceTranslationLanguage, String wordId, String targetTranslationLanguage, String appId, String appKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'sourceTranslationLanguage' is set
        if (sourceTranslationLanguage == null) {
            throw new ApiException("Missing the required parameter 'sourceTranslationLanguage' when calling entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet(Async)");
        }
        
        // verify the required parameter 'wordId' is set
        if (wordId == null) {
            throw new ApiException("Missing the required parameter 'wordId' when calling entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet(Async)");
        }
        
        // verify the required parameter 'targetTranslationLanguage' is set
        if (targetTranslationLanguage == null) {
            throw new ApiException("Missing the required parameter 'targetTranslationLanguage' when calling entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet(Async)");
        }
        
        // verify the required parameter 'appKey' is set
        if (appKey == null) {
            throw new ApiException("Missing the required parameter 'appKey' when calling entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/entries/{source_translation_language}/{word_id}/translations&#x3D;{target_translation_language}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "source_translation_language" + "\\}", apiClient.escapeString(sourceTranslationLanguage.toString()))
        .replaceAll("\\{" + "word_id" + "\\}", apiClient.escapeString(wordId.toString()))
        .replaceAll("\\{" + "target_translation_language" + "\\}", apiClient.escapeString(targetTranslationLanguage.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieve translation for a given word
     *  Use this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](documentation/glossary?term&#x3D;entry) in the target language.    &lt;div id&#x3D;\&quot;translation\&quot;&gt;&lt;/div&gt; 
     * @param sourceTranslationLanguage IANA language code (required)
     * @param wordId The source word (required)
     * @param targetTranslationLanguage IANA language code (required)
     * @param appId App ID Authentication Parameter (required)
     * @param appKey App Key Authentication Parameter (required)
     * @return RetrieveEntry
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RetrieveEntry entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGet(String sourceTranslationLanguage, String wordId, String targetTranslationLanguage, String appId, String appKey) throws ApiException {
        ApiResponse<RetrieveEntry> resp = entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGetWithHttpInfo(sourceTranslationLanguage, wordId, targetTranslationLanguage, appId, appKey);
        return resp.getData();
    }

    /**
     * Retrieve translation for a given word
     *  Use this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](documentation/glossary?term&#x3D;entry) in the target language.    &lt;div id&#x3D;\&quot;translation\&quot;&gt;&lt;/div&gt; 
     * @param sourceTranslationLanguage IANA language code (required)
     * @param wordId The source word (required)
     * @param targetTranslationLanguage IANA language code (required)
     * @param appId App ID Authentication Parameter (required)
     * @param appKey App Key Authentication Parameter (required)
     * @return ApiResponse&lt;RetrieveEntry&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RetrieveEntry> entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGetWithHttpInfo(String sourceTranslationLanguage, String wordId, String targetTranslationLanguage, String appId, String appKey) throws ApiException {
        com.squareup.okhttp.Call call = entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGetCall(sourceTranslationLanguage, wordId, targetTranslationLanguage, appId, appKey, null, null);
        Type localVarReturnType = new TypeToken<RetrieveEntry>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve translation for a given word (asynchronously)
     *  Use this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](documentation/glossary?term&#x3D;entry) in the target language.    &lt;div id&#x3D;\&quot;translation\&quot;&gt;&lt;/div&gt; 
     * @param sourceTranslationLanguage IANA language code (required)
     * @param wordId The source word (required)
     * @param targetTranslationLanguage IANA language code (required)
     * @param appId App ID Authentication Parameter (required)
     * @param appKey App Key Authentication Parameter (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGetAsync(String sourceTranslationLanguage, String wordId, String targetTranslationLanguage, String appId, String appKey, final ApiCallback<RetrieveEntry> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = entriesSourceTranslationLanguageWordIdTranslationstargetTranslationLanguageGetCall(sourceTranslationLanguage, wordId, targetTranslationLanguage, appId, appKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RetrieveEntry>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
